# Exclude all files and directories by default
*

# Include important language source files
!src
!screenshots
!*.c
!*.cpp
!*.asm
!*.java
!*.py
!*.js
!*.php
!*.h
!*.hpp

# Include important build system files
!CMakeLists.txt
!Makefile
!*.cmake
!*.mk

# Include important GitHub and documentation files
!README.md
!LICENSE
!*.md
!*.txt